.main-container {
    @include desktop-only {
        display: flex;
        margin-top: 2rem;
    }
    @include desktopxl-only {
        display: flex;
        margin-top: 2rem;
    }
}

.fonction {
    flex: 1;
    &__heading {
        margin: 0 0 1.5rem 0;
    }
    &__grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        @include tablette-only {
            flex-direction: row;
            justify-content: flex-start;
        }
        &__items {
            @include tablette-only {
                margin-right: 1.5rem;
            }
            @include tablette-only (621px) {
                width: 100%;
            }
            & p {
                margin-left: 1rem;
                font-weight: bold;
            }
            & i {
                color: darken($color-header_secondary, 50);
                align-items: center;
            }
            &__letter {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: .5rem;
                width: 1rem;
                height: 1rem;
                padding: 1rem;
                background-color: #9356DC;
                border-radius: 50rem;
                @include tablette-only {
                    position: relative;
                    left: -2rem;
                }
            }
            &__letter span {
                color: white;
            }
        }
    }
}

.grid {
    flex: 2;
    &__heading {
        margin: 0 0 1.5rem 0;
    }
    background-color: $color-header_secondary;
    &__items {
        @include tablette-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktop-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include desktopxl-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__container {
            margin-bottom: 1em;
            @include desktop-only (992px, 1215px) {
                width: 48%;
            }
            @include desktop-only (1215px) {
                width: 32%;
            }
            @include desktopxl-only {
                width: 32%;
            }
            @include tablette-only {
                width: 48%;
            }
        }
    }
}