$color-primary: rgb(203, 146, 47);
// $color-primary: rgb(138, 103, 43);
$color-secondary: #536646;
$color-gray: #585757;
$color-silver: #C0C0C0; 
$color-white: #F8F8F8; 
$color-black:#161515; 


// Old
$color-tertiary: #99E2D0;
$color-heading: #eaeaea;
$color-text-heading: rgba(0, 0, 0, .8);
$color-header_secondary: #f6f6f6;
$color-footer: #2b2a2a;
$border-radius: 1rem;